.img-login{
    vertical-align: top!important;
}

#tab-loginregister:hover{
    cursor: pointer
}

.form-check-input:hover{
    cursor: pointer
}

.Password-forgotten{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

